<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ARZON LABORATORIYA</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="img/logo%20arzon%20L.png" type="image/x-icon">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <img src="img/logo%20arzon%20L.png" alt="" width="100px" height="100px">
    </div>
    <!-- Spinner End -->

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
        <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <img src="img/logo%20arzon%20L.png" alt="" width="50px" height="50px">
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="index.html" class="nav-item nav-link active">BOSH SAHIFA</a>
                <a href="#aboutme" class="nav-item nav-link">Bizning xizmatlar</a>
                <a href="#footer" class="nav-item nav-link">Aloqa uchun</a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Header Start -->
    <div class="container-fluid header bg-primary p-0 mb-5">
        <div class="row g-0 align-items-center flex-column-reverse flex-lg-row" style="background-color: #0000005b; background-image: url(img/labfor.jpg); background-size: cover; background-attachment: fixed;">
            <div class="col-lg-6 p-5 wow fadeIn" data-wow-delay="0.1s">
                <h1 class="display-4 text-white mb-5 mt-5">Приглашаем к сотрудничеству</h1>
                <div class="row g-4 mb-5">
                    <p style="color: white;">Вот уже более 15 лет международный холдинг ArzonLab предлагает максимально возможный перечень лабораторных исследований и соответствие мировым стандартам</p>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="padding: 20px;">
                <div class="owl-carousel-item position-relative" style="width: 100%; height: 100%;">
                    <center><iframe src="https://youtube.com/embed/X3Y6imdMPZY?feature=share" frameborder="0" height="550px" width="75%" style="margin: 0px auto; border-radius: 15px;"></iframe></center>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid header p-0 mb-5">
        <div class="row g-0 align-items-center flex-column-reverse flex-lg-row">
            <div class="search">
                <h1>Analiz qidirish:</h1>

                <div class="search-box">
                    <label for="searchText">Analiz nomini kiriting:</label><br>
                    <input type="text" id="searchText" placeholder="Qidirish..." />
                    <br>
                    <button onclick="searchType()">Qidirish</button>
                </div>

                <div id="typeResult"></div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex flex-column">
                        <img class="img-fluid rounded w-75 align-self-end" src="img/about-1.jpg" alt="">
                        <img class="img-fluid rounded w-50 bg-white pt-3 pe-3" src="img/about-2.jpg" alt="" style="margin-top: -25%;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="d-inline-block border rounded-pill py-1 px-4" id="aboutme">Biz haqimizda</p>
                    <h1 class="mb-4" style="color: #000;">Arzon va shu bilan birgalikda sifatli laboratoriya</h1>
                    <p>Yuqori sifatli laboratoriya xizmatlarini arzon narxlarda taqdim etadi. Arzon Laboratoriyaning yuqori texnologiyali laboratoriyalari tadqiqot jarayonida ham, butun xizmat sikli davomida ham eng ilg‘or innovatsion usullarni qo‘llaydi.</p>
                    <b class="mb-4">ArzonLab bugungi kunda 500 dan ortiq tadqiqot turlarini o'z ichiga oladi, bular:</b>
                    <br><br>
                    <p class="btn btn-outline-info">Urologik tadqiqotlar</p>
                    <p class="btn btn-outline-info">Gematologiya</p>
                    <p class="btn btn-outline-info">Allergiya</p>
                    <p class="btn btn-outline-info">Genetika tadqiqoti</p>
                    <p class="btn btn-outline-info">Allergologiya</p>
                    <p class="btn btn-outline-info">Immunokimyo</p>
                    <p class="btn btn-outline-info">Patogen zamburug'lar va parazitlar</p>
                    <p class="btn btn-outline-info">Gormonal tadqiqotlar</p>
                    <p class="btn btn-outline-info">Immunitet kasalliklari</p>
                    <p class="btn btn-outline-info">Infektsiyalar</p>
                    <p class="btn btn-outline-info">va boshqalar</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl py-5"></div>
        <div class="container">
            <h1>Biz eng yaxshilari bilan ishlaymiz</h1><br><br>  
            <p><b>Arzon Laboratoriya jamoasi</b> – Bular ekspert darajasidagi mutaxassislar: klinik diagnostika bo'yicha ko'p yillik tajribaga ega shifokorlar, hamshiralar, laboratoriya xodimlari. Laboratoriyaning asosiy mutaxassislari Yevropaning yetakchi markazlarida amaliyot o‘tashdi, milliy va xalqaro kongresslarning doimiy ishtirokchilari, klinik biokimyo, immunologiya va virusologlar bo‘yicha ilmiy nashrlar mualliflari.</p>
            <p><b>Uskunalar reagentlar va materiallar</b> – Bular jahonning yetakchi ishlab chiqaruvchilarining mahsulotlari. Avtomatlashtirilgan analitik tizimlardan foydalanish natijalarga inson omilining ta'sirini yo'q qiladi. Natijalarning ishonchliligi va o'z vaqtida bo'lishi ishning har bir bosqichida xalqaro sifat tizimi tomonidan kafolatlanadi.</p>
            <h2 class="btn btn-danger">Arzon Laboratoriya ning asosiy afzalligi bemorlarning salomatligi va qulayligi haqida samimiy g'amxo'rlikdir</h2>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11977.61604159722!2d69.2936379!3d41.3653063!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38aef39a437deac9%3A0x9a5d34223e0d24c9!2sArzon%20Laboratoriya!5e0!3m2!1sen!2s!4v1727965032066!5m2!1sen!2s" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex flex-column">
                        <h1 class="mb-4" style="color: #000;">Joylashuv</h1>
                        <p><b class="btn btn-outline-dark">Toshkent shahar, Yunusobod tumani, Yangi Shahar ko'chasi</b></p>
                        <p><b class="btn btn-outline-dark">Toshkent viloyati, Chirchiq tumani, Navoiy ko'chasi</b></p>
                        <p><b class="btn btn-outline-dark">Toshkent shahar, Mirzo Ulug'bek tumani, Abduljalil Matkabulov ko'chasi</b></p>
                        <p><b class="btn btn-outline-dark">Toshkent shahar, Mirzo Ulug'bek tumani, Zafar Diyor ko'chasi</b></p>
                        <p><b class="btn btn-outline-dark">Toshkent shahar, Mirzo Ulug'bek tumani, Semashko ko'chasi</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-xxl py-5">
        <div class="container">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true"><h2 style="color: white;">Biz kafolat beramiz:</h2></li>
                <li class="list-group-item">Qulaylik</li>
                <li class="list-group-item">Xavfsizlik</li>
                <li class="list-group-item">Samaradorlik</li>
                <li class="list-group-item">Shartsiz maxfiylik</li>
                <li class="list-group-item">Individual yondashuv</li>
              </ul>
        </div>
    </div>

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s" id="footer">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-light mb-4">Manzil</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Toshkent shahar, Yunusobod tumani, Yangi Shahar ko'chasi</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+998912787878</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>arzonlab@gmail.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social rounded-circle" href="https://t.me/arzonlab"><i class="fab fa-telegram"></i></a>
                        <a class="btn btn-outline-light btn-social rounded-circle" href="https://www.facebook.com/arzon.lab/"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social rounded-circle" href="https://www.youtube.com/@ArzonLab"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social rounded-circle" href="https://www.instagram.com/arzon.lab/"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">Arzon LABORATORIYA</a>, All Right Reserved.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        Designed By <a class="border-bottom" href="https://instagram.com/easy.media.uz">EASY MEDIA</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>